NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_NHOST_SUBDOMAIN=local
NEXT_PUBLIC_NHOST_REGION=

NEXT_PUBLIC_NHOST_ONESEGNAL_APP_ID=
NEXT_PUBLIC_NHOST_ONESEGNAL_SAFARI_ID=

NEXT_PUBLIC_NOVU_APP_ID=
NEXT_PUBLIC_NOVU_BACKEND_URL=
NEXT_PUBLIC_NOVU_SOCKET_URL=
NOVU_API_KEY=
